<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.5.2"/>
        <httpRuntime targetFramework="4.5.2"/>
    </system.web>

    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Ignore images, css and js" enabled="true" stopProcessing="true">
                    <match url="^(images|css|js).*"/>
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
                    <action type="None"/>
                </rule>
                <rule name="Rewrite everything to index.html" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.html" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

</configuration>